*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(220, 238, 254);
}
div{
    /* background-color: blue; */
    width: 390px;
    height: 190px;
    margin: auto;
    margin-top: 150px;
    padding: 50px;
    border: solid black 5px;
    border-radius: 10%;
}