*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(220, 238, 254);
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(5, 135, 249);
    /* position: fixed; */
}
h1{
    text-align: center;
    color: #fff;
}
.wrapper{
    display: flex;
    /* justify-content: space-between; */
}
.article{
    width: 50%;
    height: 100vh;
    /* background-color: rgb(186, 249, 249); */
}
.image{
    width: 45%;
    height: 90vh;
    margin-right: 5%;
}
img{
    width: 100%;
    height: 100%;
}